{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All meetups</title>
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
</head>
<body>
<header><nav><a href="/meetups">DjangoMeetups</a></nav></header>
<h1>we got great meetups coming up!</h1>
<p>Find the one that best suits your needs!</p>
<main>

</main>

</body>
</html>