{% extends 'meetups/base/base.html' %}
{% load static %}
{% block title %}
{{meetup.title }}
{% endblock %}
{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/meetup-detail.css' %}" />
{% endblock %}
{% block main_heading %}
{{ meetup.title }}
{% endblock %}
{%block body %}



 <section>
   <h2>Upcoming Meetups!</h2>
   <ol>
     {% for meetup in meetups %}
        {% include 'meetups/includes/meetup-item.html' with title=meetup.title location=meetup.location %}
     {% endfor %}
   </ol>
 </section>

{% endblock %}

